    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

    body {
        padding: 0;
        margin: 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .user-container {
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 6px;
        .container-header {
            position: relative;
            height: 120px;
            border-bottom: 1px solid #eee;
            .user-image {
                position: absolute;
                left: 50%;
                bottom: -60px;
                transform: translateX(-50%);
                width: 130px;
                height: 130px;
                border-radius: 50%;
                border: 1px solid #eee;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
            }
        }
        .container-body {
            padding: 80px 0 40px;
            text-align: center;
            .user-info-content {
                margin-bottom: 30px;
                span {
                    display: block;
                    font-size: 15px;
                    color: #666;
                }
                h2 {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 500;
                }
            }
            .user-info-menu {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    width: 40px;
                    height: 48px;
                    background-image: url('/../image/card_icons.png');
                    background-repeat: no-repeat;
                    background-size: 385px;
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                    &.name {
                        background-position: 0px -57px;
                        &.active {
                            background-position: 0px 0px;
                        }
                    }
                    &.email {
                        background-position: -69px -56px;
                        &.active {
                            background-position: -69px 0px;
                        }
                    }
                    &.birthday {
                        background-position: -138px -57px;
                        &.active {
                            background-position: -138px 0px;
                        }
                    }
                    &.location {
                        background-position: -208px -57px;
                        &.active {
                            background-position: -208px 0px;
                        }
                    }
                    &.phone {
                        background-position: -277px -57px;
                        &.active {
                            background-position: -277px 0px;
                        }
                    }
                    &.pass {
                        background-position: -345px -57px;
                        &.active {
                            background-position: -345px 0px;
                        }
                    }

                }
            }
        }
    }

    @media (min-width: 768px) {
        .user-container {
            max-width: 720px;
            width: 100%;
        }
    }